
<div class="recorder">


    <div class="record-button">
        <div class="start-recording label">start<br><strong>recording</strong></div>
        <div class="stop-recording label hidden">stop<br><strong>recording</strong></div>
    </div>

    <div class="play-button hidden">
        <div class="play-recording"><a href="#">start playing</a></div>
        <div class="stop-playing hidden"><a href="#">stop playing</a></div>
    </div>

    <div class="counter"></div>

</div>

<div class="twitfeed">

    <a class="twitter-timeline" href="https://twitter.com/search?q=%23soundtweet" data-widget-id="342697075126976513">Tweets about "#soundtweet"</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>